<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyn.server.mapper.my.MyCourseMapper">
<update id="updateTime">
    update course c set time = (select sum(time) from section where course_id=#{courseId})
    where c.id = #{courseId}
</update>
<!--    更新排序-->
    <update id="updateSort">
        update course set sort=#{sortDto.newSort} where id = #{sortDto.id};
    </update>
<!--    新排序变大，重置其它排序-->
    <update id="moveSortForward">
    <![CDATA[
    update course
     set `sort`=(`sort` - 1)
        where
            #{sortDto.newSort} >= `sort`
        and
        `sort` >= #{sortDto.oldSort}
        and
            id != #{sortDto.id}
    ]]>
    </update>
<!--    新排序变小，重置其它排序-->
    <update id="moveSortBackward">
    <![CDATA[
     update course
        set `sort`=(`sort` + 1)
        where
        `sort` >=  #{sortDto.newSort}
        and
        `sort` <= #{sortDto.oldSort}
        and id != #{sortDto.id}
    ]]>
    </update>

</mapper>
